body {
  margin: 0;
  padding: 10px;
}

#carousel {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: solid 2px gray;
  overflow: hidden;
}

ul {
  width: 2000px;
  padding-left: 0;
  margin: 0;
}

li {
  width: 400px;
  height: 400px;
  list-style-type: none;
  float: left;
  display: inline-block;
}
